@page "/mhs"

<PageTitle>Mahasiswa SI</PageTitle>


@inject HttpClient Http

<h1>Mahasiswa SI</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (mhs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p style="margin:8px 0">  
    <input Class="filled-text-box" @bind="FilterText" Placeholder="Search Text" />
    <button @onclick="Search">Cari</button>
</p> 
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAMA</th>
                <th>NIM</th>
                <th>ALAMAT</th>
                <th>Email</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mh in mhs)
            {
                <tr>
                <td>@mh.id </td>
                <td>@mh.nama</td>
                <td>@mh.nim</td>
                <td>@mh.alamat</td>
                <td>@mh.email</td>
                <td>@mh.foto</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-dark"><a href="/addmhs">Add</a></button>

}

@code {
    private Mahasiswa[]? mhs;
    public string? FilterText;

    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<Mahasiswa[]>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72200371");
    }
    public async Task Search(){
        var Text = FilterText;
        mhs = await Http.GetFromJsonAsync<Mahasiswa[]>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72200371/72200371");
    }
}
