@page "/updatemhs"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<input @bind="@ednama" />
<input @bind="@ednim"  />
<input @bind="@edalamat" />
<input @bind="@edemail" />
<input @bind="@edfoto" />
<input @bind="@ednim_progmob" />
<button @onclick="UpdateMhs">Update</button>

@code {
    [Parameter]
[SupplyParameterFromQuery(Name = "id")]
    public int id {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "nama")]
    public string ednama {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "nim")]
    public string ednim {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "alamat")]
    public string edalamat {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string edemail {get;set;}
    [Parameter]
    [SupplyParameterFromQuery(Name = "foto")]
    public string edfoto {get;set;}

    public string? ednim_progmob;
 

    public async Task UpdateMhs()
    {
        var editItem = new DBUpdateMahasiswa {  Unama = ednama, Unim = ednim,Unim_cari=ednim, Ualamat = edalamat, Uemail = edemail, Ufoto = edfoto,Unim_progmob = ednim_progmob };
        await Http.PutAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/update", editItem);
    }
}